/* Add this styling to your Item component or import a separate stylesheet */

/* Add this styling to your Item component or import a separate stylesheet */

.card {
  height: 400px; /* Set a fixed height for the cards */
  width: 100%; /* Make cards take full width of the container */
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  flex-grow: 1; 
  max-height: 100%; 
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-text {
  color: #555;
}

.container {
  padding: 20px;
}


.btn {
  background-color: #007bff;
  color: #fff;
}

.btn:hover {
  background-color: #0056b3;
}



.product-detail {
  display: flex;
  width: 100%;
}

.product-images {
  display: flex;
  flex-wrap: wrap;
  flex: 4;
  background-color: #aba5a5;
}



.image-container {
  width: 50%; 
  height: auto;
  flex-direction: column;
  display: flex;
  
}

.product-image {
  width: 80%; 
  height: 50vh; 
  object-fit: cover;
  margin:2rem;
  cursor: pointer;
  box-shadow: 0 4px 4px 2px rgba(105, 103, 103,200);
}

.product-image:hover{
  transform: scale(1.05);
}

.product-details{
  display: flex;
  flex-direction: column;
  flex:3;
  align-items: center;
  background-color:#555;
  color:white
}

.product-title{
  font-size: 3rem;
  font-weight: bold;
  color:rgb(221, 218, 218)
}

.review-title{
  font-size: 2rem;
  font-weight: 150%;
  margin-top: 20%;
  font-style: italic;
  background-color: red;
  padding: 5px;
  
}

.image-review{
  font-style: italic;
  font-weight: 139;
}



